<h1>Voici la page About de notre groupe </h1>

<h2>D'abord ! Notre groupe c'est le meilleur !</h2>

<p>En plus, nous on joue pas au pokémon !</p>

<p>Voici la page de  <a href="/about/francois">Francois</a></p>
<p>Voici la page de  <a href="/about/ani">Ani</a></p>
<p>Voici la page de  <a href="/about/JR">JR</a></p>
<p>Voici la page de  <a href="/about/titouan">Titouan</a></p>
