<h1>Voici la page About de notre groupe </h1>

<h2>D'abord ! Notre groupe c'est le meilleur !</h2>

<p>En plus, nous on joue pas au pokémon !</p>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://nofi.fr/wp-content/uploads/2016/09/tupac_forever_by_momez-d31bwci-10au0rm-520x325.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">François</h5>
          <p class="card-text">Père de Nicolas Flamel, François D. est le premier Alchimiste de l’histoire ayant accompli le Grand ...</p>
          <a href="/about/francois" class="btn btn-primary">Voir le profil</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://pp.userapi.com/c849320/v849320297/3d5b1/QGQY3Jd5vaM.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ani</h5>
          <p class="card-text">Après avoir parcouru les steppes de Siberie en slip et mené une armée de cosaques contre des ours ...</p>
          <a href="/about/ani" class="btn btn-primary">Voir le profil</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://pp.userapi.com/c849320/v849320297/3d54f/Rogn5ITgkL4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">JR</h5>
          <p class="card-text">Elevé parmi les koalas au fin dond du bush autralien, il nourrit une passion pour le thé vert et l'eucalyptus ...</p>
          <a href="/about/JR" class="btn btn-primary">Voir le profil</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://pp.userapi.com/c849320/v849320297/3d591/ioncy3vL1_A.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Titouan</h5>
          <p class="card-text">Inventeur émérite de la NASA, Titouan a très vite compris l'intérêt de niquer des mères ...</p>
          <a href="/about/titouan" class="btn btn-primary">Voir le profil</a>
        </div>
      </div>
    </div>
  </div>
</div>
