<div class="container">
  <div class="row align-items-center">
    <div class="col-4">
        <h1>Anisoara</h1>
    </div>
    <div class="col-8">
      <strong><em>Moi parle pas la France !</em></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="https://pp.userapi.com/c849320/v849320297/3d5b1/QGQY3Jd5vaM.jpg">
    </div>
    <div class="col-8">
      <div class="content">
        <p> Après avoir parcouru les steppes de Siberie en slip et mené une armée de cosaques contre des ours tchétchènes déchainés, Anisoara est récrutée par le KGB à l'age de 7 ans 1/2.</p>
        <p>Parlant 127 langues et sachant communiquer avec les animaux, elle est enovyée en mission secrète à THP afin de piller le savoir faire informatique français.</p>
        <p>Hacker le Minitel n'ayant pas apporté les effets escomptés,elle compte se diriger ensuite vers la Chine pour vivre avec les pandas.</p>
      </div>
    </div>
  </div>
</div>
