<h1>Contact</h1>

<p>Vous trouverez ci-dessous les contacts des membres de la Fine Équipe :</p>
<hr>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">François</h5>
            <hr>
            <p class="card-text">
            <p>Pseudo Slack: @Francois D.</p>
            <br>
            <br>
          <a href="https://github.com/TheFSilver" class="btn btn-primary">Profil Github</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ani</h5>
          <hr>
          <p class="card-text">
          <p>Pseudo Slack : @Anisoara</p>
          <br>
          <br>
          <a href="https://github.com/AniMoure" class="btn btn-primary">Profil Github</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">JR</h5>
          <hr>
          <p class="card-text">
          <p>Pseudo Slack : @JR</p>
          <br>
          <br>
          <a href="https://github.com/skageraz" class="btn btn-primary">Profil Github</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Titouax</h5>
          <hr>
          <p class="card-text">
          <p>Pseudo Slack : @Titouax</p>
          <br>
          <br>
          <a href="https://github.com/Titouax" class="btn btn-primary">Profil Github</a>
        </div>
      </div>
    </div>
  </div>
</div>
