<center><h1>Contact</h1>

<br><p>Vous trouverez ci-dessous les contacts des membres de la Fine Équipe :</p>

<p><ul>Anisoara
<li>Pseudo Slack : @Anisoara</li>
<li><a href="https://github.com/AniMoure">Repository GitHub</a></li></ul></p>

<p><ul>François
<li>Pseudo Slack : @Francois D.</li>
<li><a href="https://github.com/TheFSilver">Repository GitHub</a></li></ul></p>

<p><ul>Jeremy
<li>Pseudo Slack : @JR</li>
<li><a href="https://github.com/skageraz">Repository GitHub</a></li></ul></p>

<p><ul>Titouan
<li>Pseudo Slack : @Titouax</li>
<li><a href="https://github.com/Titouax">Repository GitHub</a></li></ul></p>
</center>
