<h1>François</h1>

<img src="https://nofi.fr/wp-content/uploads/2016/09/tupac_forever_by_momez-d31bwci-10au0rm-520x325.png">
<p>Père de Nicolas Flamel, François D. est le premier Alchimiste de l’histoire ayant accompli la Grande Oeuvre, à savoir, percer les secrets de la pierre philosophale.</p>
<p>Il est dit que lorsqu'il voyagea sur le territoire portant actuellement nommé Israel, il prit ses premiers disciples et une religion vit le jour...</p>
<p>Il aurait, entre autre, réuni les sept boules de cristal, enseigné le kung-fu aux fondateurs des Temples ShaoLin et libéré Morpheus de la Matrice. Chuck Norris prétendrait être son second fils, Bruce Lee prétendant être le premier...</p>
<p>Sa localisation actuelle est inconnue mais il aurait été aperçu en train de se déplacer grâce à un Nimbus 2020...</p>
