<h1>Jeremy</h1>

<img src="https://orig00.deviantart.net/7b3a/f/2009/356/2/9/koala_ninja_by_jacobsgrl71.jpg">
<p>Elevé parmi les koalas au fin dond du bush autralien, il nourrit une passion pour le thé vert et l'eucalyptus</p>
<p>Malheureusement sa capacité à dormir 18h par jour lui a joué des tours, il se réveille dans un porte conteneur chinois en partance pour la France</p>
<p>Pour survivre et sauver sa fourrure abondante, il doit se mettre à l'informatique et au karaté s'il veut un jour retrouver sa forêt d'eucalyptus !</p>
