<div class="container">
  <div class="row align-items-center">
    <div class="col-4">
        <h1>Titouan</h1>
    </div>
    <div class="col-8">
      <strong><em>C'est avec un moustique sur les couilles, <br> qu'on apprend que la violence ne resout pas tous les problèmes</em></strong>
    </div>
  </div>
    <div class="row">
      <div class="col-4">
        <img src="https://pp.userapi.com/c849320/v849320297/3d591/ioncy3vL1_A.jpg" alt="">
      </div>
      <div class="col-8">
        <div class="content">
          <p>Inventeur émérite de la NASA, Titouan a très vite compris l'intérêt de niquer des mères !</p>
          <p>Depuis toujours, ce jeune gueudin parvient à faire du sale sans modération</p>
          <p>Afin de rentrer dans les cases sans malaise et en toute allégresse, ce jeune louveteau joue au chat et à la souris avec l'Administration française</p>
          <p>Dernier fait marquant : il renvoya un dépressif en HP en moins de 3 jours !</p>
          <p>À la suite d'un entretien d'embauche très difficile et d'une séléction digne de l'armée de Sparte à l'heure des conquêtes athéniennes</p>
          <p>Titouan a finalement réussi à intégrer la Fine Équipe </p>
        </div>
    </div>
  </div>
</div>
