<center><h1>Erreur : Le nom d'utilisateur ne doit pas contenir d'espace.</h1>
  <p>veuillez créer un nouveau nom d'utilisateur en HTML <a href="/new">Cliquez ici</a></p>
  <p>veuillez créer un nouveau nom d'utilisateur en form_tag <a href="/form_tag">Cliquez ici</a></p>
  <p>veuillez créer un nouveau nom d'utilisateur en form_for <a href="/form_for">Cliquez ici</a></p></center>
