// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.content {
  padding: 10px;
  text-align: justify;
}

img {
  max-width: 100%;
  max-height: 100%;
}

div .align-items-center {
  h1 {
    text-align: left;
    margin-left: 50;
  }
}
